*.mod
*.o
*.txt
*.dat
*.h5
*genmod.f90
src/TEST-*
src/buffer.f90
docs/ltximg/
*TEST-1
*TEST-2
*TEST-3
*TEST-4
*.exec
*.a
libs/hypre
libs/hdf5*
libs/master
libs/hypre-master

*contour.py
*quiver.py

*.aux
*.fdb_latexmk
*.log
*.synctex.gz

*.vtr
*.pvd
*.plt

tecplot*
paraview*
gen_tecplot.py
gen_paraview.py

